body {
background: mediumspringgreen;
font-family: 'Times New Roman', Times, serif;
}
h1 {
color: midnightblue;
text-align: center;
}
.projects { 
    display:flex; flex-wrap:wrap;
 } /* condensed to save space */
.project {
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: rgb(0, 0, 0); /* pick a color */
    border-radius: 25%;
}
.project img{
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid rgb(62, 20, 213); /* choose a color */
    display: block;
    margin: auto;
}