body {
background: mediumspringgreen;
font-family: 'Times New Roman', Times, serif;
}
h1 {
color: midnightblue;
text-align: center;
}
.projects { 
    display:flex; flex-wrap:wrap;
 } /* condensed to save space */
.project {
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: rgb(0, 0, 0); /* pick a color */
    border-radius: 25%;
}